<h4>Nueva persona</h4>

<div>
    <p>Añadir nueva persona</p>


    <form class="form-horizontal" #personaForm="ngForm" (ngSubmit)="onSubmit(personaForm.value)">
    <div class="mb-3">
        <label>DNI: </label>
        <input type="text" class="form-control" required [(ngModel)]="persona.DNI" name="dni" #dni="ngModel">
        <div [hidden]="dni.value || dni.pristine" class="alert alert-danger">
            El DNI es obligatorio
        </div>

    </div>

    <div class="mb-3">
        <label>NOMBRE: </label>
        <input type="text" class="form-control" required [(ngModel)]="persona.NOMBRE" name="nombre" #nombre="ngModel">
        <div [hidden]="nombre.value || nombre.pristine" class="alert alert-danger">
            El NOMBRE es obligatorio
        </div>

    </div>

    <div class="mb-3">
        <label>APELLIDOS: </label>
        <input type="text" class="form-control" required [(ngModel)]="persona.APELLIDOS" name="apellidos" #apellidos="ngModel">
        <div [hidden]="apellidos.value || apellidos.pristine" class="alert alert-danger">
            Los APELLIDOS son obligatorios
        </div>

    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!personaForm.valid">{{textoBoton}}</button>
    <button type="button" class="btn btn-secondary" routerLink="/">Cancelar</button>
</form>
</div>