 <p-toolbar>
      <div class="p-toolbar-group-center">
       
        <p-dropdown 
          [options]="dropdown1Options" 
          [(ngModel)]="selectedOption1" 
          placeholder="Selecciona opción 1" 
          class="p-mr-2"></p-dropdown>
    
        
        <p-dropdown 
          [options]="dropdown2Options" 
          [(ngModel)]="selectedOption2" 
          placeholder="Selecciona opción 2" 
          class="p-mr-2"></p-dropdown>
    
        
        
      </div>
    </p-toolbar>
    
  <router-outlet /> 
