<p-toolbar>
    <div class="p-toolbar-group-center">
      <!-- Primer Dropdown (3 opciones) -->
      <p-dropdown 
        [options]="dropdown1Options" 
        [(ngModel)]="selectedOption1" 
        placeholder="Selecciona opción 1" 
        class="p-mr-2"></p-dropdown>
  
      <!-- Segundo Dropdown (2 opciones) -->
      <p-dropdown 
        [options]="dropdown2Options" 
        [(ngModel)]="selectedOption2" 
        placeholder="Selecciona opción 2" 
        class="p-mr-2"></p-dropdown>
  
      <!-- Botones simples -->
      <button pButton type="button" label="Botón 3" class="p-mr-2"></button>
      <button pButton type="button" label="Botón 4" class="p-mr-2"></button>
      <button pButton type="button" label="Botón 5" class="p-mr-2"></button>
    </div>
  </p-toolbar>
  
<router-outlet />