<h2>Pets and Visits</h2>

@for (pet of pets; track $index) {
    <table>
        <tr>
            <th>Nombre:</th>
            <td>{{pet.name}}</td>
        </tr>
        <tr>
            <th>Fecha Nacimiento: </th>
            <td>{{pet.birthDate}}</td>
        </tr>
        <tr>
            <th>Tipo: </th>
            <td>{{pet.typeName}}</td>
        </tr>
    </table>
    <button type="button">Editar Pet</button> || 
    <button type="button" (click)="borrarPet(pet.id, pet.name)">Eliminar Pet</button> ||
    <button type="button">Añadir Visita</button>
    <br><br>
    <hr align="left" width="20%">

    <app-visit-list [visits]="pet.visits"></app-visit-list>
    <hr>
}