<p>form-owner works!</p>


<h3>Añadir nuevo propietario</h3>

<div class="container-fluid" id="formNvPers">
    <form #personaForm="ngForm" (ngSubmit)="onSubmit(personaForm.value)">
        <label for="first_name">Nombre </label>
        <br>
        <input type="text" name="first_name" id="first_name" required [(ngModel)]="owner.first_name" #first_name="ngModel">
        <div [hidden]="first_name.valid || first_name.pristine" >
            El Nombre es obligatorio
        </div>

        <br><br>

        <label for="last_name">Apellido: </label>
        <br>
        <input type="text" name="last_name" id="last_name" required [(ngModel)]="owner.last_name" #last_name="ngModel">
        <div [hidden]="last_name.valid || last_name.pristine" >
            El Apellido es obligatorio
        </div>

        <br><br>

        <label for="address">Dirección: </label>
        <br>
        <input type="text" name="address" id="address" required [(ngModel)]="owner.address" #address="ngModel">
        <div [hidden]="address.valid || address.pristine" >
            La Dirección es obligatoria
        </div>

        <br><br>

        <label for="city">Ciudad: </label>
        <br>
        <input type="text" name="city" id="city" required [(ngModel)]="owner.city" #city="ngModel">
        <div [hidden]="city.valid || city.pristine" >
            La Ciudad es obligatoria
        </div>

        <br><br>

        <label for="telephone">Telefono: </label>
        <br>
        <input type="text" name="telephone" id="telephone" required [(ngModel)]="owner.telephone" #telephone="ngModel">
        <div [hidden]="telephone.valid || telephone.pristine" >
            El Telefono es obligatorio
        </div>

        <br><br>

        <button class="btn btn-success" type="button" type="submit" [disabled]="!personaForm.valid">{{textoBoton}}</button>
        <span> | </span>
        <button class="btn btn-danger" type="button" [routerLink]="['/']">Cancelar</button>
    </form>
</div>