<p>form-owner works!</p>


<h3>Añadir nuevo propietario</h3>

<div class="container-fluid" id="formNvPers">
    <form #personaForm="ngForm" (ngSubmit)="onSubmit(personaForm.value)">
        <label for="firstName">Nombre </label>
        <br>
        <input type="text" name="firstName" id="firstName" required [(ngModel)]="owner.firstName" #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine" >
            El Nombre es obligatorio
        </div>

        <br><br>

        <label for="lastName">Apellido: </label>
        <br>
        <input type="text" name="lastName" id="lastName" required [(ngModel)]="owner.lastName" #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine" >
            El Apellido es obligatorio
        </div>

        <br><br>

        <label for="address">Dirección: </label>
        <br>
        <input type="text" name="address" id="address" required [(ngModel)]="owner.address" #address="ngModel">
        <div [hidden]="address.valid || address.pristine" >
            La Dirección es obligatoria
        </div>

        <br><br>

        <label for="city">Ciudad: </label>
        <br>
        <input type="text" name="city" id="city" required [(ngModel)]="owner.city" #city="ngModel">
        <div [hidden]="city.valid || city.pristine" >
            La Ciudad es obligatoria
        </div>

        <br><br>

        <label for="telephone">Telefono: </label>
        <br>
        <input type="text" name="telephone" id="telephone" required [(ngModel)]="owner.telephone" #telephone="ngModel">
        <div [hidden]="telephone.valid || telephone.pristine" >
            El Telefono es obligatorio
        </div>

        <br><br>

        <button class="btn btn-success" type="button" type="submit" [disabled]="!personaForm.valid">{{textoBoton}}</button>
        <span> | </span>
        <button class="btn btn-danger" type="button" [routerLink]="['/']">Cancelar</button>
    </form>
</div>