<h1>Añadir nuevo Pet</h1>

<form #petForm="ngForm" (ngSubmit)="onSubmit(petForm.value)">
    <label for="owner">Owner: </label>
    <br>
    <input type="text" name="owner" id="owner" value="{{pet.owner.firstName}} {{pet.owner.lastName}}" readonly required>

    <br><br>

    <label for="name">Nombre: </label>
    <br>
    <input type="text" name="name" id="name" required [(ngModel)]="pet.name" #name="ngModel">
    <div [hidden]="name.valid || name.pristine" >
        El Nombre es obligatorio
    </div>

    <br><br>

    <label for="birthDate">Fecha de Nacimiento: </label>
    <br>
    <input type="date" name="birthDate" id="birthDate" required [(ngModel)]="pet.birthDate" #birthDate="ngModel">
    <div [hidden]="birthDate.valid || birthDate.pristine" >
        La Fecha es obligatoria
    </div>

    <br><br>

    <select name="type" id="type" [(ngModel)]="pet.type" #type="ngModel" required>
        <option [ngValue]="null" disabled selected> Seleccione un tipo</option>
        @for (petType of petTypes; track $index) {
            <option [ngValue]="petType">{{petType.name}}</option>
        }
    </select>
    <div [hidden]="type.valid || type.pristine" >
        El Tipo es obligatorio
    </div>

    <br><br>

    <input type="hidden" name="owner" id="owner" [(ngModel)]="pet.owner">

    <button type="button" [routerLink]="(['/detail-owner', pet.owner.id])">< Volver</button> || 
    <button type="submit" [disabled]="!petForm.valid">Guardar Pet</button>
</form>