

<div class="container-fluid">
    <h1>Propietario</h1>

    <p>La lista de owner esta en Console!</p>

    <div class="table table-bordered">
        <table border="1">
            
                <tr class="table-primary">
                    <th>ID</th>
                    <td>{{ owner.id }}</td>
                </tr>

                <tr class="table-primary">
                    <th>Nombre</th>
                    <td>{{ owner.firstName }}</td>
                </tr>

                <tr class="table-primary">
                    <th>Apellidos</th>
                    <td>{{ owner.lastName }}</td>
                </tr>

                <tr class="table-primary">
                    <th>Direccion</th>
                    <td>{{ owner.address}}</td>
                </tr>

                <tr class="table-primary">
                    <th>Ciudad</th>
                    <td>{{ owner.city}}</td>
                </tr>


                <tr class="table-primary">
                    <th>Telefono</th>
                    <td>{{ owner.telephone}}</td>
                </tr>


            
            
        </table>
    </div>
</div>
