

<div class="container-fluid">
    <h1>Propietario</h1>

    <p>La innfo de Propietario esta en Console!</p>

    <div class="table table-bordered">
        <table border="1">
            
                <tr class="table-primary">
                    <th>ID</th>
                    <td>{{ owner.id }}</td>
                </tr>

                <tr class="table-primary">
                    <th>Nombre</th>
                    <td>{{ owner.firstName }}</td>
                </tr>

                <tr class="table-primary">
                    <th>Apellidos</th>
                    <td>{{ owner.lastName }}</td>
                </tr>

                <tr class="table-primary">
                    <th>Direccion</th>
                    <td>{{ owner.address}}</td>
                </tr>

                <tr class="table-primary">
                    <th>Ciudad</th>
                    <td>{{ owner.city}}</td>
                </tr>


                <tr class="table-primary">
                    <th>Telefono</th>
                    <td>{{ owner.telephone}}</td>
                </tr>          
            
        </table>
        <hr>
        <a [routerLink]="['/']">Volver</a>
        <span> | </span>
        <a [routerLink]="['/']">Añadir</a>
        <span> | </span>
        <a [routerLink]="['/']">Eliminar</a>
        <span> | </span>
        <a [routerLink]="['/']">Editar</a>
    <hr>
        <br>

        <h1>Mascota</h1>

        <p>La info de mascota esta en Console!</p>


        <table border="1">
            
            <tr class="table-primary">
                <th>ID</th>
                <td>{{ pet.id }}</td>
            </tr>

            <tr class="table-primary">
                <th>Nombre</th>
                <td>{{ pet.name }}</td>
            </tr>

            <tr class="table-primary">
                <th>Tipo</th>
                <td>{{ pet.typeName }}</td>
            </tr>

            <tr class="table-primary">
                <th>Cumpleaños</th>
                <td>{{ pet.birthDate }}</td>
            </tr>

            <tr class="table-primary">
                <th>Visitas</th>
                <td>{{ pet.visits}}</td>
            </tr>   
        
    </table>

    <hr>
        <a [routerLink]="['/']">Volver</a>
        <span> | </span>
        <a [routerLink]="['/']">Añadir</a>
        <span> | </span>
        <a [routerLink]="['/']">Eliminar</a>
        <span> | </span>
        <a [routerLink]="['/']">Editar</a>
    <hr>

    </div>
</div>
